@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }



html,  body{
  font-family: 'Poppins', sans-serif;
}

// Variables
$black: #181818;
$white: #ffffff;
$grey: #F1EDE9;
$blue: #A2FBF4;
$light-grey: #353639;
// Breakpoints
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px

// Basic layout
.container{
  max-width: 1040px;
  margin: 0 auto;
  @media (max-width: $tablet-wide){
      width: 100%;
  }
}

.hero_section{
  padding-bottom: 120px;
}

.featured_section{
  background-color: $grey;
}
.testimonial_section{
  background-color: $blue;
}

.testimonial-wrapper{
  padding-top: 90px;
  padding-bottom: 80px;
  h1{
    text-align: center;
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 40px;
  }
  .testi-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    .testi{
      width: 50%;
      @media (max-width: $mobile-landscape){
          width: 100%;
      }
      .t-w{
        margin: 20px;
        background: $white;
        padding: 30px;
        border-radius: 24px;
        .user-info{
          display: flex;
          flex-direction: row;
          align-items: center;
          @media (max-width: $mobile-landscape){
              flex-direction: column;
              align-items: flex-start;
          }
          img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 2px solid $black;
          }
          .txt{
            margin-left: 20px;
            @media (max-width: $mobile-landscape){
                margin-left: 0;
                margin-top: 20px;
            }
            h3{
              font-size: 24px;
              line-height: 150%;
              font-weight: 600;
              margin-bottom: 8px;
              a{
                text-decoration: none;
                color: $black;
                &:hover{
                  text-decoration: underline;
                }
              }
            }
            h5{
              strong{
                font-weight: 600;
              }
            }
          }
        }
        p{
          margin-top: 22px;
          font-size: 18px;
          line-height: 32px;
          min-height: 158px;
          opacity: .8;
          @media (max-width: $mobile-landscape){
              font-size: 16px;
              line-height: 24px;
              min-height: auto;
          }
        }
      }
    }
  }
}

.explore-all{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
  @media (max-width: $tablet-wide){
      padding: 80px 18px;
  }
  h2{
    font-size: 44px;
    max-width: 700px;
    font-weight: 600;
    line-height: 130%;
    margin: 10px auto;
    @media (max-width: $tablet-wide){
        text-align: center;
        font-size: 28px;
    }
  }
  .btn{
    font-size: 24px;
    text-decoration: none;
    line-height: 24px;
    font-weight: 500;
    padding: 20px 40px;
    display: inline-block;
    transition: all ease 0.2s;
    border-radius: 8px;
    color: $black;
    margin-top: 20px;
    @media (max-width: $tablet-wide){
        font-size: 22px;
    }
    &.btn-line{
      background: $white;
      border: 2px solid $black;
    }
    &.btn-color{
      background: $black;
      color: $white;
    }
  }
}

.featured-wrapper{
  h1{
    text-align: center;
    font-size: 44px;
    padding-top: 50px;
  }
  .featured-mock{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 100px;
    &:nth-child(2){
      flex-direction: row-reverse;
    }
    .mockup-thumb-wrap{
      width: 50%;
      @media (max-width: $mobile-landscape){
          width: 100%;
      }
      .thumb{
        padding: 20px;

        img{
          width: 100%;
          border-radius: 30px;
          -webkit-box-shadow: 0 12px 54px -2px rgba(0,0,0,0.1);
          -moz-box-shadow: 0 12px 54px -2px rgba(0,0,0,0.1);
          box-shadow: 0 12px 54px -2px rgba(0,0,0,0.1);
          @media (max-width: $mobile-landscape){
            border-radius: 20px;
          }
        }
      }
    }
    .mockup-detail-wrap{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      @media (max-width: $mobile-landscape){
          width: 100%;
          text-align: center;
      }
      .mockup-detail{
        padding: 20px;
        h2{
          font-size: 36px;
          font-weight: 600;
          margin-bottom: 20px;
        }

        p{
          font-size: 18px;
          color: $light-grey;
          font-weight: 400;
          line-height: 160%;
          margin-bottom: 20px;
        }
      }
    }

  }
}

.link-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;

  span{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,0.4);

  }
  @media (max-width: $mobile-landscape){
    flex-direction: column;
    align-items: center;
    span{
      margin: 0;
      margin-top: 18px;
    }
  }
}

.dwn-links{
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 8;

  .download_button{
    font-size: 18px;
    text-decoration: none;
    line-height: 24px;
    font-weight: 500;
    padding: 13px 26px;
    display: inline-block;
    transition: all ease 0.2s;
    border-radius: 8px;
    border: 1px solid $black;
    color: $white;
    background: $black;
    z-index: 11;
    position: relative;
    text-align: left;
    cursor: pointer;

  }
  .d-arrow{
    img{
      -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
      -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
      -ms-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
      -o-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
      transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    }
  }
  .dwn-list{
    z-index: 9;
    top: 0;
    left: 0;
    margin: 0;
    height: auto;
    position: absolute;
    background: #fff;

    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-box-shadow: 0 8px 44px -2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 8px 44px -2px rgba(0,0,0,0.1);
    box-shadow: 0 8px 44px -2px rgba(0,0,0,0.1);
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    -ms-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    -o-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    padding: 8px 0;
    >li{
      a{
        font-size: 16px;
        font-weight: 400;
        display: block;
        border-bottom: 1px solid rgba(0,0,0,0.05);
        margin: 0 20px;
        padding: 22px 0;
        text-decoration: none;
        vertical-align: middle;
        color: $black;
        &:hover{
          text-decoration: underline;
        }
      }
      &:last-child{
        a{
          border: none;
        }
      }
    }
  }
  &:hover{
    .dwn-list{
      overflow: visible;
      opacity: 1;
      top: calc(100%);
      height: auto;
    }
    .d-arrow{
      img{
        transform: scale(-1, -1);
      }
    }
  }
}


.hero_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  padding: 20px;
  @media (max-width: $mobile-landscape){
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;

  }
  @media (max-width: $tablet-wide){
    text-align: center;
  }
  @media (max-width: $desktop){
    overflow: hidden;
  }
  .text_detail{
    max-width: 600px;
    margin-top: 60px;
    z-index: 999;
    @media (max-width: $tablet-wide){
      max-width: 100%!important;
    }
    @media (max-width: $mobile-landscape){
      margin-top: 10px;
    }

    h1{
      font-size: 48px;
      font-weight:600;
      line-height: 120%;
      margin-bottom: 25px;
      small{
        margin-bottom: 15px;
        font-size: 40px;
        display: block;
        font-weight: 300;
      }
    }
    p{
      font-size: 21px;
      line-height: 150%;
      max-width: 500px;
      margin-bottom: 30px;
    }
  }
  .hero_media{
    position: absolute;
    top: 10px;
    right: -100px;
    z-index: 900;
    img{
      max-width: 600px;
    }

    @media (max-width: 850px){
      img{
        visibility: hidden;
        height: 0;
      }
    }
  }
}
.links{
  >li{
    display: inline-block;

  }
  .btn-tw {
    margin-right: 20px;
    @media (max-width: $tablet-wide){
        display: none;
    }
    a{
      color: $black;
      text-decoration: none;
      vertical-align: middle;
      padding: 16px;
      line-height: 24px;
      border-radius: 8px;
      &:hover{
        background: rgba(0,0,0,0.03);
      }
      img{
        vertical-align: middle;
      }
    }
  }
  @media (max-width: $mobile-landscape){
    flex-direction: column;
    padding: 18px;
    >li{
      display: block;
      padding: 0!important;
    }
    .btn{
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 20px;
      padding: 10px 0;
      display: block;
    }
  }
}

.pad-r24{
  padding-right: 24px!important;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    padding: 60px 0;
    @media (max-width: $tablet-wide){
      text-align: center;
      flex-direction: column;
    }
    @media (max-width: $mobile-landscape){
      padding-bottom: 10px;
    }

    .brand{
      display: block;
      padding-left: 20px;
      @media (max-width: $tablet-wide){
          padding-left: 0;
      }
      .logo{
        height: 50px;
      }
    }
    .buttons{
      padding-right: 20px;
      @media (max-width: $tablet-wide){
        margin-top: 20px;
        padding-right: 0;
      }
    }
}

.buttons{
  .btn{
    font-size: 18px;
    text-decoration: none;
    line-height: 24px;
    font-weight: 500;
    padding: 13px 36px;
    display: inline-block;
    transition: all ease 0.2s;
    border-radius: 8px;
    &.btn-color{
      border: 1px solid $black;
      background: $black;
      color: $white;
      &:hover{
        background: rgba(0,0,0,1);
      }
    }
    &.btn-outline{
      border: 2px solid $black;
      color: $black;
      &:hover{
        background: rgba(0,0,0,.03);
      }
    }
  }
}

.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 20px;
  @media (max-width: $mobile-landscape){
      text-align: center;
  }
  .dev-credit{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    @media (max-width: $mobile-landscape){
        text-align: center;
    }
    h3{
      color: $black;
      font-weight: 400;
      font-size: 18px;
      display: inline-block;
      vertical-align: middle;
      line-height: 24px;
      margin-right: 10px;
      @media (max-width: $mobile-landscape){
          width: 100%;
      }
      &.coffee{
        a{
          color: #3C44E9;
        }
      }
    }
    a{
      font-weight: 600;
      text-decoration: none;
      color: $black;
      vertical-align: middle;
      &:hover{
        text-decoration: underline;
        color: #000000;
      }
    }
    .scl-lnk{
      display: inline-block;
      margin: 0;
      padding: 0;
      margin-left: 20px;
      @media (max-width: $mobile-landscape){
          width: 100%;
          margin-top: 20px;
      }
      >li{
        display: inline-block;
        margin-right: 20px;
        a{
          display: block;
          img{
            display: block;
            height: 24px;
          }
        }
      }
    }
  }
  .company{
    z-index: 9999;
    padding: 20px;
    @media (max-width: $mobile-landscape){
        width: 100%;
    }
    h3{
      font-size: 18px;
      color: rgba(0,0,0,0.5);
      font-weight: 400;
      display: inline-block;
    }
    a{
      font-weight: 600;
      line-height: 27px;
      text-decoration: none;
      color: rgba(0,0,0,0.5);
    }
  }
}


.all-wrapper{
  background: $grey;
  padding-bottom: 20px;
  .mock-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
    .mock-wrap{
      width: 50%;
      @media (max-width: $tablet-wide){
          width: 100%;
      }
      .mocks{
        padding: 20px;
        padding-bottom: 40px;
        margin-bottom: 10px;
        .mockup-thumb-wrap{
          .thumb{
            img{
              width: 100%;
              border-radius: 30px;
              -webkit-box-shadow: 0 12px 54px -2px rgba(0,0,0,0.1);
              -moz-box-shadow: 0 12px 54px -2px rgba(0,0,0,0.1);
              box-shadow: 0 12px 54px -2px rgba(0,0,0,0.1);
              @media (max-width: $mobile-landscape){
                border-radius: 20px;
              }
            }
          }
        }
        .mockup-detail-wrap{
          .mockup-detail{
            margin-top: 30px;
            @media (max-width: $tablet-wide){
                text-align: center;
            }
            h2{
              font-size: 36px;
              font-weight: 600;
              margin-bottom: 20px;
              @media (max-width: $tablet-wide){
                  font-size: 28px;
                  text-align: center;
              }
            }

            p{
              font-size: 18px;
              color: $light-grey;
              font-weight: 400;
              line-height: 150%;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}


.download-all{
  background: $blue;
}

.opensource{
  color: $black;
  margin-top: 30px;
  font-size: 16px;
  a{
    font-weight: 500;
    text-decoration: none;
    color: $black;
    &:hover{
      text-decoration: underline;
    }
  }
}

.announce-wrapper{
  &.ph{
    background: #da552f;
  }
  .an-details{
    text-align: center;
    padding: 10px 20px;
    p{
      color: $white;
      font-size: 22px;
      line-height: 150%;
      a{
        color: $white;
        text-decoration: none;
        strong{
          font-weight: 600;
        }
      }
      img{
        height: 58px;
        vertical-align: middle;
        @media (max-width: $mobile-landscape){
            display: block;
            margin: 0 auto;
        }
      }
    }
  }
}
